/* Colors: */
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

button {
  cursor: pointer;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 1478px;
}

.line-orange, .classes header .line-orange-hor, .about-article .line-orange-hor {
  margin: 1rem 0;
  border: 1px solid #ff6c2c;
  opacity: 1;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: center;
}

@media (min-width: 40rem) {
  .home-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.home-container .home-item-1 {
  width: 80%;
}

.home-container .home-item-2 {
  justify-content: center;
  width: 100%;
}

.home-container ul {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  list-style: none;
  padding-inline-start: 0;
}

@media (min-width: 40rem) {
  .home-container ul {
    gap: 1rem;
  }
}

.home-container ul li {
  color: #181a1f;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: "open-sans", sans-serif;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  letter-spacing: -0.09px;
  height: 24px;
}

.carousel-cont {
  position: relative;
}

.carousel-cont ::-webkit-scrollbar {
  display: none;
}

.carousel-cont * {
  scrollbar-width: none;
}

.carousel-1-list {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.button-img {
  height: 64px;
  width: 40px;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 40rem) {
  .button-img {
    display: block;
  }
}

.button-img:hover {
  transform: scale(1.5);
}

.prev {
  left: 2rem;
}

.next {
  right: 2rem;
}

.car-item {
  background-image: url("../assets/desktop/Group 169.png");
  background-size: cover;
  height: 300px;
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 40rem) {
  .car-item {
    height: 652px;
  }
}

.car-captions {
  display: flex;
  padding-left: 3rem;
  width: 75%;
  height: 50%;
  flex-direction: column;
  color: #ffffff;
}

.car-captions button {
  background: #ff6c2c;
  border-radius: 0.6rem;
  color: #ffffff;
  font: normal normal bold 1rem/1.25rem "open-sans", sans-serif;
  width: 50%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #ff6c2c;
}

@media (min-width: 40rem) {
  .car-captions button {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.car-captions h5 {
  font: normal normal normal 1.25rem/1.25rem "open-sans", sans-serif;
  letter-spacing: 0.5px;
  color: #ffffff;
  opacity: 0.75;
  padding: 0;
  margin-bottom: 2rem;
  height: 1.6rem;
  width: 100%;
}

@media (min-width: 40rem) {
  .car-captions h5 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.car-captions p {
  font: normal normal normal 1.25rem/1.25rem "open-sans", sans-serif;
  text-transform: capitalize;
  opacity: 1;
  color: #ffffff;
  width: 100%;
  padding-top: 0.5rem;
  height: 3.8rem;
}

@media (min-width: 40rem) {
  .car-captions p {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.rectangle-section {
  padding: 4rem 0 0 0;
  display: flex;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

@media (min-width: 40rem) {
  .rectangle-section {
    width: 90%;
  }
}

.rectangle-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.rectangle-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 40rem) {
  .rectangle-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}

.rectangle-list .rectangle, .rectangle-list .rectangle-1, .rectangle-list .rectangle-2, .rectangle-list .rectangle-3 {
  color: #ffffff;
  display: flex;
  justify-content: center;
  height: 283px;
  margin-bottom: 0.5rem;
  background-repeat: no-repeat;
  background-size: auto;
  flex-wrap: wrap;
  align-items: flex-end;
  background-size: cover;
}

.rectangle-list .rectangle-1 {
  background-image: url("/assets/desktop/Group 151.png");
}

.rectangle-list .rectangle-2 {
  background-image: url("/assets/desktop/Group 152.png");
}

.rectangle-list .rectangle-3 {
  background-image: url("/assets/desktop/Group 153.png");
}

.rectangle-list .rectangle-cap {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.rectangle-list .rectangle-cap h6 {
  font: normal normal normal 1.5rem/1.5rem "open-sans", sans-serif;
  margin-block-end: 0;
  margin-block-start: 0;
}

.rectangle-list .rectangle-cap p {
  font: normal normal normal 1.1rem/1.5rem "open-sans", sans-serif;
}

.rectangle-list .rectangle-cap button {
  background: #7c7c79 0% 0% no-repeat padding-box;
  color: #ffffff;
  width: 137px;
  height: 39px;
  border: 1px solid #7c7c79;
  font: "open-sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.classes {
  margin-top: 3rem;
  margin-bottom: 6rem;
  background: #222224 0% 0% no-repeat padding-box;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

@media (min-width: 40rem) {
  .classes {
    padding-left: 0;
    padding-right: 0;
  }
}

.classes .rectangle-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 43rem) {
  .classes .rectangle-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.classes header {
  overflow-y: hidden;
  flex-direction: column;
}

.classes header h3 {
  font: normal normal normal 3rem/1.5rem "open-sans", sans-serif;
  color: #ffffff;
  height: 4rem;
  margin-top: 3rem;
}

.classes header .line-orange-hor {
  width: 8rem;
}

.classes header p {
  text-align: center;
  font: normal normal normal 1.25rem/3rem "open-sans", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  width: 80%;
  padding-bottom: 3rem;
}

.class-rectangle {
  height: 243px;
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 40rem) {
  .class-rectangle {
    height: 450px;
  }
}

.class-rectangle * {
  padding: 0 !important;
}

.class-rect-1 {
  background-image: url("/assets/desktop/Mask Group 7.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.class-rect-2 {
  background-image: url("/assets/desktop/Mask Group 8.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.class-rect-3 {
  background-image: url("/assets/desktop/Mask Group 9.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.class-rect-4 {
  background-image: url("/assets/desktop/Mask Group 10.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.rect-cap, .rect-cap-light, .rect-cap-dark {
  height: 25%;
  opacity: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rect-cap-light {
  background: rgba(0, 0, 0, 0.58) 0% 0% no-repeat padding-box;
}

.rect-cap-light h5 {
  color: #ffffff;
  font: normal normal normal 1.5rem/1.5rem "open-sans", sans-serif;
  margin-left: 2rem;
}

.rect-cap-dark {
  background: rgba(19, 25, 26, 0.58) 0% 0% no-repeat padding-box;
}

.rect-cap-dark h5 {
  color: #ffffff;
  font: normal normal normal 1.5rem/1.5rem "open-sans", sans-serif;
  margin-left: 2rem;
}

.teams {
  padding-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

.teams h5 {
  color: #181a1f;
  font: normal normal normal 2.8rem/1.5rem "open-sans", sans-serif;
  letter-spacing: 0;
  height: 4rem;
  margin: 0;
}

.teams .line-orange, .teams .classes header .line-orange-hor, .classes header .teams .line-orange-hor, .teams .about-article .line-orange-hor, .about-article .teams .line-orange-hor {
  width: 25%;
  margin: 0 auto 1.5rem auto;
}

@media (min-width: 40rem) {
  .teams .line-orange, .teams .classes header .line-orange-hor, .classes header .teams .line-orange-hor, .teams .about-article .line-orange-hor, .about-article .teams .line-orange-hor {
    width: 10%;
  }
}

.teams p {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 5rem;
  font-size: 1.25rem;
  line-height: 3rem;
  width: 80%;
  margin: 0 auto;
  font-family: "open-sans", sans-serif;
}

.teams .team-carousel {
  position: relative;
  display: none;
}

.teams .team-carousel ::-webkit-scrollbar {
  display: none;
}

.teams .team-carousel * {
  scrollbar-width: none;
}

@media (min-width: 63rem) {
  .teams .team-carousel {
    display: flex;
  }
}

.teams .team-carousel .carousel-team-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 75%;
}

.teams .team-carousel button {
  background-color: #ff6c2c;
  border: 1px solid #ff6c2c;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40%;
}

.teams .team-carousel button:hover {
  height: 44px;
  width: 44px;
}

.teams .team-carousel button img {
  object-fit: cover;
  object-position: center;
}

.teams .team-carousel .team-car-next {
  right: 1rem;
}

.teams .team-carousel .team-car-prev {
  transform: rotate(180deg);
  left: 1rem;
}

.teams .team-carousel .team-car-prev img {
  margin-left: 0.2rem;
}

.teams .team-carousel .team-item {
  flex-shrink: 0;
  scroll-snap-align: start;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.teams .team-carousel .team-item .card-body-custom {
  padding: 0;
  height: 127px;
  padding: 0;
  margin: 0;
}

.teams .team-carousel .team-item .card {
  margin-bottom: 0;
}

.teams .team-carousel .team-item .card-text {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
  font: normal normal normal 1.5rem/1.5rem "open-sans", sans-serif;
  color: #181a1f;
}

#aboutus {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 5rem;
}

.aboutus-cont {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  justify-content: space-between;
  padding-bottom: 5rem;
}

@media (min-width: 40rem) {
  .aboutus-cont {
    display: flex;
  }
}

.article-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0 2.25rem 0 2.25rem;
}

@media (min-width: 40rem) {
  .article-wrapper {
    width: 50%;
  }
}

.read-more, .read-more-2 {
  display: none;
  margin-top: 1rem;
  width: 15rem;
  height: 4.5rem;
  background: #ff6c2c 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font: normal normal bold 1.25rem/1.25rem "open-sans", sans-serif;
  letter-spacing: 0.4px;
  border: 1px solid #ff6c2c;
  color: #ffffff;
}

@media (min-width: 40rem) {
  .read-more, .read-more-2 {
    display: block;
  }
}

.read-more-2 {
  display: block;
}

@media (min-width: 40rem) {
  .read-more-2 {
    display: none;
  }
}

.about-sidebar {
  padding: 0;
  width: fit-content;
  margin: 0 auto;
}

@media (min-width: 40rem) {
  .about-sidebar {
    margin: 0;
  }
}

.about-article {
  width: fit-content;
  padding-bottom: 1rem;
}

.about-article h5 {
  font: normal normal bold 1rem/1.5rem "open-sans", sans-serif;
  letter-spacing: 6px;
  color: #292f39;
  margin-bottom: 1rem;
}

.about-article h2 {
  font: normal normal normal 1.5rem/1.5rem "open-sans", sans-serif;
  letter-spacing: 0px;
  padding: 1rem 0;
}

.about-article .line-orange-hor {
  width: 10.5rem;
}

.about-article article {
  margin-top: 1.5rem;
  color: #181a1f;
  text-align: left;
  font: normal normal normal 1.25rem/2.8rem "open-sans", sans-serif;
  letter-spacing: 0px;
  min-height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-images {
  height: calc((363px * 2) + 54px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-images img {
  width: 317px;
  height: 363px;
  object-fit: cover;
}

.contact {
  padding-top: 4rem;
  background-color: #181a1f;
  padding-bottom: 6.5rem;
  flex-direction: column;
}

.contact h5 {
  margin: 0 0 1rem 0;
}

.contact form {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 80%;
}

@media (min-width: 40rem) {
  .contact form {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 40rem) {
  .contact form div:nth-of-type(5) {
    grid-column: 1 / span 4;
    width: 100%;
  }
}

.contact .form-control {
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
  background-clip: padding-box;
}

.contact .form-control:focus {
  background-color: #181a1f;
  border-color: teal;
  box-shadow: 0 0 2.5px 2.5px teal;
  background-color: #181a1f;
  color: #ffffff;
  outline: 0;
  transition: 0.15s ease-in-out;
}

.contact h5 {
  color: #ffffff;
  font: normal normal normal 2.8rem/1.5rem "open-sans", sans-serif;
  letter-spacing: 0;
  padding: 0.5rem 0 0.5rem 0;
}

.contact .line-orange, .contact .classes header .line-orange-hor, .classes header .contact .line-orange-hor, .contact .about-article .line-orange-hor, .about-article .contact .line-orange-hor {
  width: 27%;
  margin: 1rem auto;
}

@media (min-width: 40rem) {
  .contact .line-orange, .contact .classes header .line-orange-hor, .classes header .contact .line-orange-hor, .contact .about-article .line-orange-hor, .about-article .contact .line-orange-hor {
    width: 10%;
  }
}

.contact p {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 1.25rem;
  line-height: 3rem;
  font-family: "open-sans", sans-serif;
}

.contact input {
  border: 1px solid #ff6c2c;
  border-radius: 2px;
  font: normal normal normal 1.25rem/1.5rem "open-sans", sans-serif;
  color: #ffffff;
  background-color: #181a1f;
  height: 3rem;
  width: 100%;
}

@media (min-width: 40rem) {
  .contact .input-div {
    grid-column: span 2;
  }
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: #ffffff;
}

.contact textarea {
  border: 1px solid #ff6c2c;
  border-radius: 2px;
  font: normal normal normal 1.25rem/1.5rem "open-sans", sans-serif;
  color: #ffffff;
  background-color: #181a1f;
  min-height: 8.25rem;
  margin-top: 1.25rem;
  width: 100%;
}

@media (min-width: 40rem) {
  .contact .buttondiv {
    grid-column: 2 / span 2;
  }
}

.contact button {
  height: 4rem;
  background: #ff6c2c;
  border: 1px solid #ff6c2c;
  border-radius: 10px;
  color: #ffffff;
  margin-top: 3rem;
  width: 100%;
  font: "open-sans", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.faq {
  padding-top: 3rem;
  padding-bottom: 5.5rem;
  flex-direction: column;
  width: 100%;
}

.faq h5 {
  color: #181a1f;
  font: normal normal normal 2.8rem/1.5rem "open-sans", sans-serif;
  letter-spacing: 0;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0;
}

.faq .line-orange, .faq .classes header .line-orange-hor, .classes header .faq .line-orange-hor, .faq .about-article .line-orange-hor, .about-article .faq .line-orange-hor {
  width: 25%;
  margin: 1rem auto;
}

@media (min-width: 40rem) {
  .faq .line-orange, .faq .classes header .line-orange-hor, .classes header .faq .line-orange-hor, .faq .about-article .line-orange-hor, .about-article .faq .line-orange-hor {
    width: 8%;
  }
}

.accordion {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  gap: 1rem;
}

.acc-btn {
  background-color: #ffffff;
  border: 1px solid #ff6c2c;
  width: 100%;
  height: 4rem;
  text-align: left;
  padding-inline-start: 3rem;
  font-size: 1rem;
  font-family: "open-sans", sans-serif;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.acc-btn::before {
  content: '+';
  position: absolute;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  right: 3rem;
  color: black;
}

.acc-btn:focus {
  box-shadow: none;
  border-color: #ff6c2c;
  background-color: #ffffff;
  color: #181a1f;
}

.acc-item .content {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  padding-top: 1rem;
  padding-inline-start: 1rem;
  text-align: left;
}

.acc-item .acc-active {
  height: 200px;
}

.footer {
  background-color: #181a1f;
  display: grid;
  grid-template-columns: 1fr;
}

.footer .footer-row {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 40rem) {
  .footer .footer-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.footer .logo {
  padding: 1.5rem 2.25rem;
}

.footer .link-list {
  padding: 1.5rem 2.25rem;
}

.footer ul {
  gap: 0.75rem;
  display: flex;
}

.orange-space {
  height: 59px;
  width: 100%;
  background-color: #ff6c2c;
  margin: 0 !important;
}

.copyright {
  font-family: "open-sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.75px;
  color: #ffffff;
  text-align: center;
  padding: 2rem;
}

.nav-list li:hover {
  background: #fdc830;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6c2c, #fdc830);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
}

.read-more:hover, .read-more-2:hover {
  box-shadow: rgba(255, 108, 44, 0.07) 0px 1px 2px, rgba(255, 108, 44, 0.07) 0px 2px 4px, rgba(255, 108, 44, 0.07) 0px 4px 8px, rgba(255, 108, 44, 0.07) 0px 8px 16px, rgba(255, 108, 44, 0.07) 0px 16px 32px, rgba(255, 108, 44, 0.07) 0px 32px 64px;
}

.contact button:hover {
  box-shadow: rgba(255, 108, 44, 0.07) 0px 1px 2px, rgba(255, 108, 44, 0.07) 0px 2px 4px, rgba(255, 108, 44, 0.07) 0px 4px 8px, rgba(255, 108, 44, 0.07) 0px 8px 16px, rgba(255, 108, 44, 0.07) 0px 16px 32px, rgba(255, 108, 44, 0.07) 0px 32px 64px;
}
/*# sourceMappingURL=style.css.map */