.carousel-cont {
	width: 100%;
}

.carousel-1 {
	position: relative;
	::-webkit-scrollbar {
		display: none;
	}

	* {
		scrollbar-width: none;
	}
	.carousel-list {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
	}

	button {
		background-color: $clr-orange;
		border: 1px solid $clr-orange;
		border-radius: 50%;
		height: 40px;
		width: 40px;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;

		top: 40%;
		&:hover {
			height: 44px;
			width: 44px;
		}

		img {
			object-fit: cover;
			object-position: center;
		}
	}

	.next {
		right: 1rem;
	}

	.prev {
		/* 	transform: rotate(180deg); */
		left: 1rem;
		/* 	img {
			margin-left: 0.2rem;
		} */
	}
}

.car-item {
	background: url('../assets/desktop/Group\ 169.png');
	min-width: 100vw;
	min-height: 50vh;
	flex-shrink: 0;
	scroll-snap-align: start;
	gap: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	color: $clr-light;
}
