.carousel-cont {
	position: relative;
	::-webkit-scrollbar {
		display: none;
	}

	* {
		scrollbar-width: none;
	}
}

.carousel-1-list {
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
}

.button-img {
	height: 64px;
	width: 40px;
	position: absolute;

	align-items: center;
	justify-content: center;
	display: none;
	cursor: pointer;

	@media (min-width: 40rem) {
		display: block;
	}

	top: 50%;
	transform: translateY(-50%);
	&:hover {
		transform: scale(1.5);
	}
}

.prev {
	left: 2rem;
}

.next {
	right: 2rem;
}
.car-item {
	background-image: url('../assets/desktop/Group\ 169.png');
	background-size: cover;
	height: 300px;
	width: 100%;
	flex-shrink: 0;
	scroll-snap-align: start;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (min-width: 40rem) {
		height: 652px;
	}
}

.car-captions {
	display: flex;
	padding-left: 3rem;
	width: 75%;
	height: 50%;
	flex-direction: column;
	color: $clr-light;

	button {
		background: $clr-orange;
		border-radius: 0.6rem;
		color: $clr-light;
		font: normal normal bold 1rem/1.25rem $font-stack;
		width: 50%;
		padding-bottom: 1rem;
		padding-top: 1rem;
		margin-top: 0.5rem;
		border: 1px solid $clr-orange;

		@media (min-width: 40rem) {
			font-size: 1.5rem;
			line-height: 1.75rem;
		}
	}

	h5 {
		font: normal normal normal 1.25rem/1.25rem $font-stack;
		letter-spacing: 0.5px;
		color: $clr-light;
		opacity: 0.75;
		padding: 0;
		margin-bottom: 2rem;
		height: 1.6rem;
		width: 100%;

		@media (min-width: 40rem) {
			font-size: 1.5rem;
			line-height: 1.75rem;
		}
	}

	p {
		font: normal normal normal 1.25rem/1.25rem $font-stack;
		text-transform: capitalize;
		opacity: 1;
		color: $clr-light;
		width: 100%;

		padding-top: 0.5rem;
		height: 3.8rem;

		@media (min-width: 40rem) {
			font-size: 1.5rem;
			line-height: 1.75rem;
		}
	}
}
