.contact {
	padding-top: 4rem;
	background-color: #181a1f;
	padding-bottom: 6.5rem;
	flex-direction: column;

	h5 {
		margin: 0 0 1rem 0;
	}

	form {
		padding-top: 2rem;
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		width: 80%;

		@media (min-width: 40rem) {
			grid-template-columns: repeat(4, 1fr);
		}

		div:nth-of-type(5) {
			@media (min-width: 40rem) {
				grid-column: 1 / span 4;
				width: 100%;
			}
		}
	}

	.form-control {
		padding: 0.3rem 0.5rem;
		border-radius: 2px;
		background-clip: padding-box;

		&:focus {
			background-color: $clr-black;
			border-color: teal;
			box-shadow: 0 0 2.5px 2.5px teal;
			background-color: $clr-black;
			color: $clr-light;
			outline: 0;

			transition: 0.15s ease-in-out;
		}
	}

	h5 {
		color: $clr-light;
		font: normal normal normal 2.8rem/1.5rem $font-stack;
		letter-spacing: 0;
		padding: 0.5rem 0 0.5rem 0;
	}

	.line-orange {
		width: 27%;
		margin: 1rem auto;

		@media (min-width: 40rem) {
			width: 10%;
		}
	}

	p {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		font-size: 1.25rem;
		line-height: 3rem;

		font-family: $font-stack;
	}

	input {
		border: 1px solid $clr-orange;
		border-radius: 2px;
		font: normal normal normal 1.25rem/1.5rem $font-stack;
		color: $clr-light;
		background-color: $clr-black;
		height: 3rem;
		width: 100%;
	}

	.input-div {
		@media (min-width: 40rem) {
			grid-column: span 2;
		}
	}

	input::placeholder,
	textarea::placeholder {
		color: $clr-light;
	}

	textarea {
		border: 1px solid $clr-orange;
		border-radius: 2px;
		font: normal normal normal 1.25rem/1.5rem $font-stack;
		color: $clr-light;
		background-color: $clr-black;
		min-height: 8.25rem;
		margin-top: 1.25rem;
		width: 100%;
	}

	.buttondiv {
		@media (min-width: 40rem) {
			grid-column: 2 / span 2;
		}
	}

	button {
		height: 4rem;
		background: $clr-orange;
		border: 1px solid $clr-orange;
		border-radius: 10px;
		color: $clr-light;
		margin-top: 3rem;
		width: 100%;
		font: $font-stack;
		font-size: 1.5rem;
		cursor: pointer;
	}
}
